.page-title {
    background-color: $orange;
    @extend %container;
    flex-direction: column;
    padding: 40px 0;
    color: $white;

    .title {
        @include font(700);
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 10px;
    }

    a,
    span {
        @include font(500);
        text-transform: capitalize;
        color: $white;
    }
}

.product-2 {
    .wrapper {
        @extend %container;

        .gallery {
            width: 30%;

            .card {
                width: 100%;
            }

            .container {
                @extend %container;
                margin-top: 5%;

                .card {
                    width: 30%;
                }

            }
        }

        .product-info {
            width: 65%;

            .cloth-title {
                @extend %container;

                h1 {
                    @include font (900);
                    text-transform: uppercase;
                    font-size: 36px;

                    &.price {
                        color: $orange;
                    }
                }
            }

            .desc {
                @include font (400);
                font-size: 14px;
                text-align: justify;
                margin: 20px 0;
            }

            .settings,
            .size,
            .color {
                @extend %container;
            }

            .settings {

                .size,
                .color {
                    width: 40%;
                    justify-content: flex-start;
                    gap: 9%;
                }

                h3 {
                    @include font (700);
                    text-transform: capitalize;
                }

                p {
                    @include font (500);
                    text-transform: uppercase;
                    color: gray;
                    cursor: pointer;

                    &.active {
                        border-bottom: 1px solid black;
                        color: black;
                    }

                    
                }
                .color {
                    .ellipse-container {
                        width: 16px;
                        height: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .ellipse {
                            width: 14px;
                            height: 14px;
                            border-radius: 100%;
                            background-color: black;

                            &.active {
                                width: 12px;
                                height: 12px;
                                box-shadow: 0 0 0px 4px rgba($color: $black, $alpha: 0.2);
                            }
                        }

                    }
                }
            }
            .select-card {
                background-color: $white ;
                box-shadow: 0 0 10px  rgba($color: $black, $alpha: 0.2);
                padding: 20px;
                .counter-container {
                    @extend %container;
                    justify-content: flex-start;
                    gap: 20px;
                    margin-bottom: 30px;
                    h3 {
                        @include font(700);
                        text-transform: capitalize;
                    }
                }
                .add-cart {
                    display: flex;
                    justify-content: flex-end;
                    align-items: stretch;
                    .like {
                        padding: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        border: 1px solid gray;
                        margin-right: 20px;
                        transition: 0,4;
                        &:hover {
                            background-color: $orange;
                            cursor: pointer;
                            svg {
                                transition: 0.4s;
                                fill: $white;
                            }
                        }

                    }
                }
        }
    }
    }
}